@use "./variables" as v;

footer {
  background-color: v.$brand;
  height: 170px;
}

header {
  margin-bottom: 50px;
  background-color: v.$brand;
  height: 70px;
  line-height: 70px;
  ul {
    list-style-type: none;
    li {
      display: inline-block;
      img {
        border-radius: 50%;
        vertical-align: middle;
        margin-left: 100px;
      }
      a {
        color: v.$white;
        transition: {
          property: color;
          duration: 400ms;
          timing-function: linear;
        }
        &:hover {
          color: v.$black;
        }
        font: {
          size: 1.2em;
          weight: 100;
          family: v.$font;
        }
        text : {
          decoration: none;
          transform: capitalize;
        }
        margin: {
          left: 20px;
          right: 20px;
        }
      }
    }
  }
}

.intro {
  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 30px;
  }
  h2 {
    text-align: center;
  }
}

table {
  // border-collapse: separate;
  // border-spacing: 20px;
  border-collapse: collapse;
  text-transform: capitalize;
  width: 400px;
  margin: 0 auto;
  caption {
    font: {
      size: 1.5em;
      weight: 100 
    }
  } 
  th, td {
    border: 2px solid;
    padding: 10px;
  }

  thead {
    background-color: v.$white;
  }
}